*.class
.DS_STORE
# ignore sbt because we are using maven
build.sbt
maven-publish.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin
target
logs
project
.project
.classpath
.settings

# IntelliJ specific ignores
.idea
.history
*.iml
