<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger:%line - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <logger name="org.platformlambda.rest.RestServer" level="WARN" />
<!--        <logger name="org.platformlambda.core.system.WorkerQueue" level="DEBUG" />-->
        <Root level="${env:LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>