<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger:%line [%X{X-Trace-Id}] %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
<!--        <logger name="org.platformlambda.core.system.WorkerQueues" level="DEBUG" />-->
        <logger name="org.platformlambda.core.services.DistributedTrace" level="INFO" />
        <Root level="${env:LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>